/* Прямой импорт Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone');

/* Стили для иконок */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Предпочтительный размер иконки */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Поддержка для всех браузеров */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons-outlined { 
  font-family: 'Material Icons Outlined';
}

.material-icons-round { 
  font-family: 'Material Icons Round';
}

.material-icons-sharp { 
  font-family: 'Material Icons Sharp';
}

.material-icons-two-tone { 
  font-family: 'Material Icons Two Tone';
}